@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: TuT;
  src: url("/src/tut.otf");
}

/* .mountain,
.transition,
.stars,
.layers,
.footer {
  margin-top: -1.5%;
}
.blend {
  margin-top: -5%;
}
.blending {
  max-width: 26.45%;
  transform: rotate(180deg);
} */
